@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prata&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.banner {
  height: 100vh;
  display: grid;
  overflow: hidden;
}
.banner__content, .banner > img {
  grid-area: 1/1/2/2;
  width: 100%;
  height: 100%;
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  width: 100%;
  position: relative;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.header__navigation a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: opacity 500ms ease;
  font-size: 1.55rem;
}
.header__navigation a:hover {
  opacity: 0.5;
}

.header__slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.header__title {
  color: white;
  font-size: 4rem;
  width: 25rem;
  padding: 0 5rem;
}

.burger__container {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.burger__container .burger {
  width: 30px;
  z-index: 10;
  cursor: pointer;
}

.line {
  display: block;
  background-color: #323e1c;
  height: 3px;
}
.line::before {
  transform: translateY(-7px);
}
.line::after, .line::before {
  content: "";
  display: block;
  background-color: #323e1c;
  height: 3px;
  transition: all 0.5s ease-in-out;
}
.line::after {
  transform: translateY(5px);
}

.open .line {
  background-color: transparent;
}
.open .line::before {
  transform: rotate(45deg) translate(0, 0);
  background-color: whitesmoke;
}
.open .line::after {
  transform: rotate(-45deg) translate(0, 0);
  background-color: whitesmoke;
}

@media (max-width: 1000px) {
  .burger__container {
    display: flex;
    justify-content: flex-end;
  }
  .header__navigation, .logo-tittle {
    display: none;
  }
  .header__navigation {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    transform: translateX(100%);
    transition: transform 0.6s ease;
    color: white;
  }
  .header__navigation.active {
    transform: translateX(0);
    position: absolute;
  }
}
.btn__scroll {
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin: 1rem auto;
  padding: 1rem 3rem;
  line-height: 7vh;
}

.btn__scroll:hover {
  box-shadow: 1px 1px 20px 10px rgba(144, 152, 96, 0.6);
}

.btn__scroll:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(146, 248, 197, 0.4), transparent);
  transition: all 650ms;
}

.btn__scroll:hover:before {
  left: 100%;
}

.form__registr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(63, 79, 46, 0.8);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.form__registr.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.form__registr::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__registr.active::before {
  opacity: 1;
}

.form__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

#error {
  color: rgb(255, 49, 49);
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.data {
  color: white;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.container_registration {
  padding: 1rem;
}

#button {
  width: 10vw;
  height: 4vh;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(218, 216, 216, 0.4);
  line-height: 1.25;
  background: #61615b;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  font-size: 1rem;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
}
#button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  top: var(--mouse-y);
  left: var(--mouse-x);
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}
#button:focus, #button:hover {
  background: #2d351d;
}
#button:active:after {
  width: 300px;
  height: 300px;
}

.container__information {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 4rem 1rem;
}
@media (max-width: 900px) {
  .container__information {
    flex-direction: column;
    align-items: center;
  }
}

.content__info {
  gap: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
@media (max-width: 900px) {
  .content__info {
    width: 400px;
  }
}
.content__info > span {
  font-size: 2rem;
}
.content__info > p {
  font-size: 1rem;
}

.container__drops {
  margin: 0 auto;
}
.container__drops h2 {
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: 0.6rem;
  text-align: center;
  margin: 0rem;
}
.container__drops .btn-color {
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  display: grid;
  justify-self: center;
  align-items: center;
}

.content__drops {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .content__drops {
    grid-template-columns: repeat(3, 1fr);
  }
}
.content__drops img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.color-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-card:hover {
  transform: scale(1.13);
}

.hidden-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
  display: none;
}
.hidden-colors img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.hidden-colors.show {
  display: block;
  display: grid;
}

.content__mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.content__mission h2 {
  color: #3c3c3c;
  text-transform: uppercase;
  font-weight: 200;
  padding: 2rem;
}
.content__mission p {
  font-size: 3rem;
  width: 60%;
}
@media (max-width: 850px) {
  .content__mission p {
    font-size: 2rem;
  }
}

.content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 1200px;
  margin: 3rem auto;
}
.content-row img {
  border-radius: 8px;
  width: 100%;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4ede5;
  border-radius: 8px;
}
.content-text h3 {
  font-size: 3.4rem;
  color: #425e45;
  margin: auto;
  font-weight: 400;
  text-align: center;
}
.content-text p {
  color: #4e6951;
  text-align: center;
}
.content-text button {
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 3rem;
}

.content__about-color {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__about-color h2 {
  font-size: 10rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
  margin: 0;
  padding: 3rem;
  text-transform: uppercase;
}
.content__about-color ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 1rem;
}

.image-color-block__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.image-grid__item {
  position: relative;
  opacity: 0;
}
.image-grid__item.visible {
  opacity: 1;
}
.image-grid__item img {
  border-radius: 8px;
  width: 100%;
  display: block;
  padding: 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  background-color: #c6bc89;
  padding: 3rem;
  border-radius: 8px;
}
.text-content h3 {
  font-size: 3.4rem;
  color: #425e45;
  margin: auto;
  font-weight: 400;
  text-align: center;
}
.text-content a {
  font-size: 1.5rem;
  color: #425e45;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}
.text-content p {
  font-size: 0.8rem;
  color: #425e45;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.color-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  bottom: 3rem;
  right: 3rem;
  opacity: 0;
  transition: all 0.6s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.9);
}

.image-grid__item:hover .color-circle {
  opacity: 1;
  transform: scale(1);
}

footer {
  border: 2px solid rgba(34, 34, 34, 0.25);
}
footer .container__services {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.footer__left h3 {
  font-size: 2.6rem;
  font-weight: 200;
}
.footer__left p {
  font-size: 0.9rem;
  text-transform: uppercase;
}

#email2 {
  width: 15vw;
  height: 3.5vh;
  text-align: center;
  font-size: 1.4rem;
}

.footer__right {
  display: flex;
  gap: 3rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.footer__right ul {
  list-style: none;
}

.content__contacts {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 2.5rem;
  font-size: 1rem;
  padding: 3rem 15rem 1rem 0px;
  border-bottom: 2px solid rgba(34, 34, 34, 0.25);
}

.modal__footer-registration {
  position: relative;
}
.modal__footer-registration .email-input-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}
.modal__footer-registration input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0;
  background-color: transparent;
}

.email-submit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  color: #000;
  transition: transform 0.3s;
}

.email-submit:hover {
  transform: translateX(3px);
}

.error__email2 {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.footer-img {
  text-align: center;
  width: 100%;
  margin: 3rem 0;
}

.footer__drop-services {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding-bottom: 8rem;
}
.footer__drop-services .drop > a {
  text-decoration: none;
  color: #000000;
  margin: 2rem;
}

.language-selector {
  position: relative;
  display: inline-block;
}

.language-current {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background: none;
  border: 1px solid rgba(113, 157, 99, 0.6);
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  background: transparent;
  border: 1px solid #eee;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.language-selector:hover .language-dropdown {
  opacity: 1;
  visibility: visible;
}

.language-dropdown li a {
  display: block;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  text-align: center;
}

.language-dropdown li a:hover {
  background: #7eab77;
}/*# sourceMappingURL=style.css.map */